/* The entire page */
html, body{
    margin: 0;
    height: 100%;
    background-color: #fefaf1;
}


/* Nagivation Bar CSS*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006699;
}

li {
    float: left;
}

li a.active-button {
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 0.5mm;
    font-size: 1em;
    -webkit-text-stroke: 0.5px white;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a#active-logo {
    /* change this to make it looks better, also add a link to the main page in the future */
    font-family: Lucida Console;
    letter-spacing: 0.5mm;
    font-size: 1.5em;
    -webkit-text-stroke: 1px rgb(255, 216, 88);
    display: block;
    color: rgb(255, 216, 88);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a.active-button:hover {
    background-color: #5495b681;
}


/* Image CSS*/
img#video {
    display: block;
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    max-width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}


/* Footer CSS */
.footer {
    background-color: #075e8a;
}




